    body {
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to right, #f1b1b1, #82e6e8);
        background-size: cover;
        background-position-x: center;
    }


    /* Add padding to container elements */
    .container {
        display: flexbox;
        height: 300px;
        width: 350px;
        margin: 8% auto;
        padding: 8px;
        text-align: left;
        position: relative;
        border-radius: 25px;
        border: 2px solid #73AD21;
        background-color: #f2f2f2;
    }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

    div {
    width: 700px;
    height: 30px;
    background: ;
    transition: width 2s;
    }

    div:hover {
    width: 350px;

    border-color: red yellow green hsla(60, 90%, 50%, .8);
    }